@charset "UTF-8";
/* @media screen and ( min-width: 641px ) ocultar de 641px hasta infinito  para que se muestre el menu */
/* @media screen and ( max-width: 640px ) 0 a 640px para movil ò de 640 a 0 */
@font-face {
  font-family: 'pakenhamregular';
  src: url("fonts/pakenham_rg-webfont.woff2") format("woff2"), url("fonts/pakenham_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*==========================*/
/*============================*/
/*============ breade ============== */
.col2-set .col-1 {
  width: 50% !important; }

.bread {
  margin-top: 10px;
  font-size: 1.125em;
  box-sizing: border-box; }
  .bread .bread nav {
    margin-bottom: 0px; }
    .bread .bread nav .bread nav a {
      color: #0c8f87;
      transition: 0.5s ease; }
      .bread .bread nav .bread nav a .bread nav a:hover {
        color: #234765; }

/*========== contenido del sitio ==================*/
.site-content .col-full {
  width: 100%; }
  .site-content .col-full .content-area .site-main {
    padding-top: 0px;
    background-color: red; }
    .site-content .col-full .content-area .site-main header.woocommerce-products-header {
      display: none; }
    .site-content .col-full .content-area .site-main .storefront-sorting {
      color: #234765; }
    .site-content .col-full .content-area .site-main ul.products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .site-content .col-full .content-area .site-main ul.products li.product {
        margin: 0px auto 10px auto;
        box-sizing: border-box;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(35, 71, 101, 0.2);
        background-color: #ffde00; }
        .site-content .col-full .content-area .site-main ul.products li.product span.price {
          font-size: 1.5em;
          color: #333; }
        .site-content .col-full .content-area .site-main ul.products li.product .added_to_cart {
          background-color: #0c8f87;
          width: 70%;
          margin: 10px auto 0px auto;
          color: #ffffff;
          font-weight: normal; }
          .site-content .col-full .content-area .site-main ul.products li.product .added_to_cart:hover {
            background-color: #234765;
            color: #ffffff;
            transition: 0.5s ease; }
        .site-content .col-full .content-area .site-main ul.products li.product .woocommerce-LoopProduct-link h2 {
          color: #234765;
          font-size: 1.3em; }
        .site-content .col-full .content-area .site-main ul.products li.product .woocommerce-LoopProduct-link img {
          border-radius: none !important;
          width: 100%; }
          .site-content .col-full .content-area .site-main ul.products li.product .woocommerce-LoopProduct-link img:hover {
            opacity: 0.7;
            transition: 0.5s ease; }
        .site-content .col-full .content-area .site-main ul.products li.product .button {
          background-color: #0c8f87;
          color: #ffffff;
          font-size: 1em;
          font-weight: normal;
          width: 75%;
          margin: 0px auto;
          border-radius: 5px; }
          .site-content .col-full .content-area .site-main ul.products li.product .button:hover {
            background-color: #234765;
            color: #ffffff;
            transition: 0.5s ease; }
        .site-content .col-full .content-area .site-main ul.products li.product a {
          display: block;
          text-decoration: none;
          outline: none;
          color: #234765;
          font-size: 1.2em; }
          .site-content .col-full .content-area .site-main ul.products li.product a:hover {
            color: #0c8f87; }
  .site-content .col-full nav.woocommerce-breadcrumb {
    font-size: 1.08em;
    color: #234765;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
    box-sizing: border-box; }
    .site-content .col-full nav.woocommerce-breadcrumb a {
      color: #0c8f87; }
      .site-content .col-full nav.woocommerce-breadcrumb a::before {
        color: #234765; }
        .site-content .col-full nav.woocommerce-breadcrumb a::before:hover {
          color: #0c8f87;
          transition: 0.5s ease; }
      .site-content .col-full nav.woocommerce-breadcrumb a:hover {
        color: #234765;
        transition: 0.5s ease;
        text-decoration: none; }

/*========= modificando con inspeccionador de elementos ========*/
/*=== Modificando el menu =====*/
.storefront-primary-navigation {
  clear: both;
  background: #ffde00 !important;
  padding: 0px;
  margin: 0px; }
  .storefront-primary-navigation .main-navigation ul li a {
    color: #234765 !important; }
    .storefront-primary-navigation .main-navigation ul li a:hover {
      color: #ffffff; }
  .storefront-primary-navigation .main-navigation .primary-navigation ul {
    display: flex; }
    .storefront-primary-navigation .main-navigation .primary-navigation ul li {
      list-style: none; }
      .storefront-primary-navigation .main-navigation .primary-navigation ul li a {
        font-family: "pakenhamregular";
        font-size: 1.2em;
        text-decoration: none;
        outline: none; }
        .storefront-primary-navigation .main-navigation .primary-navigation ul li a:hover {
          background-color: #0c8f87;
          transition: 0.5s ease;
          color: #ffffff !important; }

/** ==================== */
.hentry.type-page .entry-header {
  border-bottom: 0;
  margin-bottom: 0;
  display: none;
  background-color: red !important; }

.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle, button.menu-toggle:hover {
  color: #484c51 !important; }

.hentry {
  margin: 0 0 4.235801032em; }

header.site-header {
  background-color: #0c8f87 !important;
  padding-top: 0px; }

/*== cambio para le boton de compra*/
.widget a.button.checkout {
  background: #0c8f87 !important;
  transition: 0.5s ease;
  color: #ffffff !important; }
  .widget a.button.checkout:hover {
    background-color: #0da5e4 !important;
    border-color: #1a1a1a;
    transition: 0.5s ease; }

/*============================================*/
/*=== icono de canasta de compra======*/
.site-header-cart .cart-contents:after {
  color: #212121 !important; }

/*== Para navegación (menu) con dispositimos moviles ======*/
@media screen and (max-width: 768px) {
  .storefront-primary-navigation .main-navigation .menu-toggle {
    background-color: #0c8f87;
    color: #ffffff;
    border: 2px solid #ffde00;
    font-size: 1.2em; }
    .storefront-primary-navigation .main-navigation .menu-toggle span {
      color: #ffffff; }
  .storefront-primary-navigation .main-navigation .menu {
    box-sizing: border-box; }
    .storefront-primary-navigation .main-navigation .menu ul li {
      background-color: #0da5e4;
      box-sizing: border-box;
      padding-left: 10px; }
      .storefront-primary-navigation .main-navigation .menu ul li a {
        color: #ffffff;
        font-size: 1.2em; }
    .storefront-primary-navigation .main-navigation .menu ul .current_page_item {
      background-color: #ffde00; } }

/*======== buscador cabecera ===========*/
header .ca-cabecera .ca-search-followers .or-buscador {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }
  header .ca-cabecera .ca-search-followers .or-buscador .widget {
    list-style: none;
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box; }
    header .ca-cabecera .ca-search-followers .or-buscador .widget form {
      margin: 10px; }
      header .ca-cabecera .ca-search-followers .or-buscador .widget form:before {
        display: none; }
      header .ca-cabecera .ca-search-followers .or-buscador .widget form input[type="search"] {
        background-color: #ffffff;
        box-shadow: none;
        padding: 0.5em 1em !important;
        color: #234765 !important;
        border-radius: 5px !important;
        width: 90% !important; }
      header .ca-cabecera .ca-search-followers .or-buscador .widget form button[type="submit"] {
        clip: unset;
        right: 0px !important;
        left: auto !important;
        top: 0px !important;
        height: 100%;
        position: absolute;
        background-color: #0c8f87;
        border: none;
        border-radius: 0px !important;
        outline: none; }
        header .ca-cabecera .ca-search-followers .or-buscador .widget form button[type="submit"]:hover {
          transition: 0.5s ease; }
  header .ca-cabecera .ca-search-followers .or-buscador li.widget_product_search {
    list-style: none; }
    header .ca-cabecera .ca-search-followers .or-buscador li.widget_product_search .woocommerce-product-search {
      padding: 0px 0px 0px 0px; }

header .ca-cabecera .ca-search-followers .or-redes {
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  width: 100%; }
  header .ca-cabecera .ca-search-followers .or-redes .sociales {
    width: 100%;
    padding: 0px;
    text-align: center; }
    header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu {
      text-align: center;
      list-style: none;
      padding: 0px 0px 0px 0px; }
      header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu .sr-text {
        display: none; }
      header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li {
        margin-right: 10px;
        display: inline-block; }
        header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li a {
          text-decoration: none;
          transition: 0.5s ease;
          color: #333 !important; }
          header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li a:hover {
            color: #ffde00 !important; }
        header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li a::before {
          font-family: 'FontAwesome';
          content: '\f08e';
          font-size: 2.1em;
          -webkit-font-smoothing: antialiased;
          text-decoration: none; }
        header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li a[href*="facebook.com"]::before {
          content: '\f09a'; }
        header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li a[href*="twitter.com"]::before {
          content: '\f099'; }
        header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li a[href*="youtube.com"]::before {
          content: '\f16a'; }
        header .ca-cabecera .ca-search-followers .or-redes .sociales ul.menu li a[href*="instagram.com"]::before {
          content: '\f16d'; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*=================================*/
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*=================================*/
body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: "pakenhamregular", "Open Sans", sans-serif !important; }
  body a, body .page-numbers {
    outline: none; }

.woocommerce-pagination .page-numbers {
  outline: none; }

/*=================================*/
.contenedor {
  max-width: 1100px; }

header .ca-cabecera {
  padding: 10px 0px; }
  header .ca-cabecera .ca-logo {
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      header .ca-cabecera .ca-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px; } }
    header .ca-cabecera .ca-logo .logo-link {
      display: block;
      outline: none;
      overflow: hidden;
      width: 280px;
      padding: 5px; }
      header .ca-cabecera .ca-logo .logo-link img.logo {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        display: block; }

/* Caberece teléfonos*/
header .ca-cabecera .widget {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

header .ca-cabecera .tredes {
  display: inline-block;
  font-weight: 500;
  outline: none; }
  header .ca-cabecera .tredes .t-cin {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    outline: none;
    font-size: 1.3em; }
    header .ca-cabecera .tredes .t-cin:hover {
      text-decoration: none; }
    header .ca-cabecera .tredes .t-cin .t-c {
      width: 100%; }
    header .ca-cabecera .tredes .t-cin .t-n {
      width: 100%;
      display: block;
      padding: 0px;
      margin: 0px; }
      header .ca-cabecera .tredes .t-cin .t-n:hover {
        color: #ffde00; }
      header .ca-cabecera .tredes .t-cin .t-n .t-i {
        margin-right: 10px;
        color: #ffde00; }

/*===== buscardor ======**/
header .ca-cabecera .ca-search-followers {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: border-box; }
  header .ca-cabecera .ca-search-followers .searchbar {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    box-sizing: border-box; }
    header .ca-cabecera .ca-search-followers .searchbar form.frm-buscar {
      margin: 15px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      text-align: center;
      box-sizing: border-box;
      width: 100%; }
      header .ca-cabecera .ca-search-followers .searchbar form.frm-buscar .cuadro_input {
        display: inline-block;
        padding: 5px 5px 5px 10px;
        line-height: 1em; }

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  box-sizing: border-box;
  padding: 5px 8px;
  color: #ffde00;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-weight: 300; }

textarea {
  box-sizing: border-box;
  padding: 5px 8px;
  color: #ffde00;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-weight: 300; }

input[type="submit"],
input[type="button"],
button[type="submit"] {
  box-sizing: border-box;
  padding: 5px 8px;
  color: #ffde00;
  font-size: 0.9em;
  background: none;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  cursor: pointer; }
  input[type="submit"]:hover,
  input[type="button"]:hover,
  button[type="submit"]:hover {
    color: #212121; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  color: #ffde00;
  font-weight: 600; }

footer {
  width: 100%;
  margin: 20px auto 0px auto;
  background-color: #234765;
  min-height: 200px;
  padding: 20px 0px 20px 0px; }
  footer .group {
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: "Open Sans", sans-serif; }
    footer .group #desarrollado {
      width: 45%;
      color: #ffffff;
      text-align: right; }
      footer .group #desarrollado a {
        width: 45%;
        color: #ffde00;
        font-weight: bold;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
        footer .group #desarrollado a:hover {
          width: 45%;
          color: #ffffff; }
    footer .group .direccion {
      width: 45%;
      color: #ffffff;
      list-style: none;
      text-align: left; }
      footer .group .direccion p {
        margin: 0px;
        padding: 0px; }
  footer .footer-slogan {
    text-align: center;
    font-size: 2.0em;
    color: #ffffff;
    max-width: 1024px;
    padding-bottom: 25px;
    margin: 0px auto;
    font-weight: bold;
    font-style: italic; }

/*==================*/
#totop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  margin-left: 640px;
  overflow: hidden;
  width: 43px;
  height: 28px;
  border: none;
  text-indent: -999px;
  z-index: 20;
  background: url("../images/totop.png") no-repeat left 0;
  transition: 0s ease;
  -o-transition: 0s ease;
  -webkit-transition: 0s ease; }
  #totop:hover {
    outline: none;
    background-position: right 0; }
