/*============ breade ============== */
.col2-set .col-1
  width: 50% !important
.bread
  margin-top: 10px
  font-size: 1.125em
  box-sizing: border-box
  .bread nav
    margin-bottom: 0px
    .bread nav a
      color: #0c8f87
      transition: 0.5s ease
      .bread nav a:hover
        color: #234765
/*========== contenido del sitio ==================*/
.site-content
    .col-full
      .content-area
        .site-main
          padding-top: 0px
          header.woocommerce-products-header
            display: none
          .storefront-sorting
            color: $azul
          ul.products
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            li.product
              margin: 0px auto 10px auto
              box-sizing: border-box
              padding-bottom: 12px
              border-bottom: 1px solid rgba($azul, 0.2)
              background-color: $yema
              span.price
                font-size: 1.5em
                color: $gris3
              .added_to_cart
                background-color: $verde
                width: 70%
                margin: 10px auto 0px auto
                color: $blanco
                font-weight: normal
                &:hover
                  background-color: $azul
                  color: $blanco
                  transition: 0.5s ease
              .woocommerce-LoopProduct-link
                h2
                  color: $azul
                  font-size: 1.3em
                img
                  border-radius: none !important
                  width: 100%
                  &:hover
                    opacity: 0.7
                    transition: 0.5s ease
              .button
                background-color: $verde
                color: $blanco
                font-size: 1em
                font-weight: normal
                width: 75%
                margin: 0px auto
                border-radius: 5px
                &:hover
                  background-color: $azul
                  color: $blanco
                  transition: 0.5s ease
              a
                display: block
                text-decoration: none
                outline: none
                color: $azul
                font-size: 1.2em
                &:hover
                  color: $verde
      nav.woocommerce-breadcrumb
        font-size: 1.08em
        color: $azul
        margin-bottom: 0.5em
        padding-bottom: 1em
        box-sizing: border-box
        a
          color: $verde
          &::before
            color: $azul
            &:hover
              color: $verde
              transition: 0.5s ease
          &:hover
            color: $azul
            transition: 0.5s ease
            text-decoration: none
/*======== Comprar por categoria =======*/
.woocommerce
  ul.products
    li.product-category
      background-color: red
      &:hover
        background-color: green        
      a
        .woocommerce-loop-category__title
          font-size: 1.5em
          color: $verde
          transition: 0.5s ease
          &:hover
            color: $azul
            transition: 0.5s ease
          .count
            padding: 10px
            color: $verde
            &:hover
              color: $azul
        img
          border-radius: none !important
          width: 100%
          &:hover
            opacity: 0.7
            transition: 0.5s ease        
/*========= modificando con inspeccionador de elementos ========*/
/*=== Modificando el menu =====*/
.storefront-primary-navigation
  clear: both
  background: $yema !important
  padding: 0px
  margin: 0px
  .main-navigation
    ul
      li
        a
          color: $azul !important
          &:hover
            color: $blanco
    .primary-navigation
      ul
        display: flex
        li
          list-style: none
          a
            font-family: "pakenhamregular"
            font-size: 1.2em
            text-decoration: none
            outline: none
            &:hover
              background-color: $verde
              transition: 0.5s ease
              color: $blanco !important
/** ==================== */
.hentry.type-page .entry-header
  border-bottom: 0
  margin-bottom: 0
  display: none
  background-color: red !important
.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle, button.menu-toggle:hover
  color: #484c51 !important
.hentry
  margin: 0 0 4.235801032em
header.site-header
  background-color: $verde !important
  padding-top: 0px

/*== cambio para le boton de compra*/
.widget
  a.button.checkout
    background: $verde !important
    transition: 0.5s ease
    color: $blanco !important
    &:hover
      background-color: $celeste !important
      border-color: #1a1a1a
      transition: 0.5s ease
/*============================================*/
/*=== icono de canasta de compra======*/
.site-header-cart
  .cart-contents
    &:after
      color: $grisoscuro !important
/*== Para navegación (menu) con dispositimos moviles ======*/
@media screen and (max-width: 768px) /* de 768 a cero. 0**/
  .site
  .storefront-primary-navigation
    .main-navigation
      .menu-toggle
        background-color: $verde
        color: $blanco
        border: 2px solid $yema
        font-size: 1.2em
        span
          color: $blanco
      .menu
        box-sizing: border-box
        ul
          li
            background-color: $celeste
            box-sizing: border-box
            padding-left: 10px
            a
              color: $blanco
              font-size: 1.2em
          .current_page_item
            background-color: $yema
/*====== texto bievenida portada ===*/
.page-template-template-homepage 
  .entry-content
    margin: 0px auto
    padding: 0px
    max-width: 100% !important
    width: 100%
    box-sizing: border-box
    @media screen and (min-width: 768px) /* de 768 a infinito**/
      padding: 80px 20px
.page
  .col-full
    padding: 0px   
.page-template-template-homepage 
  .type-page

/*=================== estilo de mi somos ==============*/
.pre-somos
  background-image: url("../images/nastuh-abootalebi-284884.jpg")
  background-size: cover
  padding: 200px 60px
  background-position: center center
  margin-bottom: 30px
  margin-top: 0px
  position: relative
  @media screen and (max-width: 600px) /* de 0 600**/      
    height: 520px
  .pre-contenido
    width: var(--sizem)
    position: absolute
    top: calc(var(--sizem)/2.9)
    left: 0
    right: 0
    padding: 0px 150px
    p
      color: $yema
      font-size: 1.6em
      font-weight: 700
      text-shadow: 1px 1px 2px rgba(#333, 1)
      text-align: center
      font-family: 'pakenhamregular'
    @media screen and (max-width: 600px) /* de 0 600**/      
      top: calc(var(--sizem)/15)
      bottom: 0
      padding: 0px 15px
      height: 100%  
    @media screen and (min-width: 601px) and (max-width: 768px) /*entre 601  de 0 768**/
      padding: 15px
      top: calc(var(--sizem)/4)
      p
        font-size: 1.5em
  &:before
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: rgba($verde, 0.5)
    content: ""
    width: 100%
/*============================*/    
.home
  .site
    .site-content
      .col-full