/*============ breade ============== */
.col2-set .col-1
  width: 50% !important
.bread
  margin-top: 10px
  font-size: 1.125em
  box-sizing: border-box
  .bread nav
    margin-bottom: 0px
    .bread nav a
      color: #0c8f87
      transition: 0.5s ease
      .bread nav a:hover
        color: #234765
/*========== contenido del sitio ==================*/
/*== ajustando botones en la pagina tienda*/
.site-content
    .col-full
      .content-area
        .site-main
          padding-top: 0px
          header.woocommerce-products-header
            display: none
          .storefront-sorting
            color: $azul
          ul.products
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            li.product
              margin: 0px auto 10px auto
              box-sizing: border-box
              padding-bottom: 12px
              border-bottom: 1px solid rgba($azul, 0.2)
              background-color: $yema
              span.price
                font-size: 1.5em
                color: $gris3
              .added_to_cart
                background-color: $verde
                width: 70%
                margin: 10px auto 0px auto
                color: $blanco
                font-weight: normal
                border-radius: 4px
                &:hover
                  background-color: $azul
                  color: $blanco
                  transition: 0.5s ease
              .woocommerce-LoopProduct-link
                h2
                  color: $azul
                  font-size: 1.3em
                img
                  border-radius: none !important
                  width: 100%
                  &:hover
                    opacity: 0.7
                    transition: 0.5s ease
              .button
                background-color: $verde
                color: $blanco
                font-size: 1em
                font-weight: normal
                width: 75%
                margin: 0px auto
                border-radius: 5px
                &:hover
                  background-color: $azul
                  color: $blanco
                  transition: 0.5s ease
              a
                display: block
                text-decoration: none
                outline: none
                color: $azul
                font-size: 1.2em
                &:hover
                  color: $verde
      nav.woocommerce-breadcrumb
        font-size: 1.08em
        color: $azul
        margin-bottom: 0.5em
        padding-bottom: 1em
        box-sizing: border-box
        a
          color: $verde
          &::before
            color: $azul
            &:hover
              color: $verde
              transition: 0.5s ease
          &:hover
            color: $azul
            transition: 0.5s ease
            text-decoration: none
/*========== en el producto =====*/
.content-area
  .site-main
    .product
      .summary
        .product_meta
          span
            color: $azul
            a
              outline: none
              color: $verde
              font-weight: 400
              text-decoration: none
              margin-left: 3px
              &:hover
                color: $azul
                transition: 0.5s ease
        form
          .button.alt
            background-color: $azul !important
            padding-left: 10px
            padding-right: 10px
            transition: 0.5s ease
            outline: none
            &:hover
              background-color: $verde !important
              color: $blanco
              transition: 0.5s ease
          .quantity
            input[type="number"]
              color: $azul
              border: 1px solid $azul
        .product_title
          color: $verde
          position: relative
          &:before
            position: absolute
            content: ""
            width: calc(var(--sizem)/10)
            height: 2px
            bottom: 0
            left: 0
            right: 0
            background-color: $azul
      .related
        >h2:first-child
          color: $verde
          position: relative
          &:before
            position: absolute
            content: ""
            width: calc(var(--sizem)/10)
            height: 2px
            bottom: 0
            left: 0
            right: 0
            background-color: $azul        
      .woocommerce-tabs
        .woocommerce-Tabs-panel
          h2
            color: $verde
            position: relative
            &:before
              position: absolute
              content: ""
              width: calc(var(--sizem)/10)
              height: 2px
              bottom: 0
              left: 0
              right: 0
              background-color: $azul            
          .woocommerce-Reviews
            .woocommerce-noreviews
              background-color: $verde
        ul.tabs
          li.active
            a
              color: $verde !important
              position: relative
              border-left: 3px solid $verde
        ul
          li
            box-sizing: border-box
            a
              outline: none
              color: $verde
              transition: 0.5s ease
              padding-left: 10px     
              border-left: 3px solid transparent
              &:hover
                color: $azul
                transition: 0.5s ease
                text-decoration: none
              &:after
                color: $verde  
/*======== Comprar por categoria =======*/
.woocommerce
  .woocommerce-message
    background-color: $azul
    a.button
      color: $yema
      &:hover
        transition: 0.5s ease
        color: $blanco
        text-decoration: none
  ul.products
    li.product-category
      &:hover
        background-color: green        
      a
        .woocommerce-loop-category__title
          font-size: 1.5em
          color: $verde
          transition: 0.5s ease
          &:hover
            color: $azul
            transition: 0.5s ease
          .count
            padding: 10px
            color: $verde
            &:hover
              color: $azul
        img
          border-radius: none !important
          width: 100%
          &:hover
            opacity: 0.7
            transition: 0.5s ease        
/*========= modificando con inspeccionador de elementos ========*/
/*=== Modificando el menu =====*/
.storefront-primary-navigation
  clear: both
  background: $yema !important
  padding: 0px
  margin: 0px
  .main-navigation
    ul
      li
        a
          color: $azul !important
          &:hover
            color: $blanco
    .primary-navigation
      ul
        display: flex
        li
          list-style: none
          a
            font-family: "pakenhamregular"
            font-size: 1.2em
            text-decoration: none
            outline: none
            &:hover
              background-color: $verde
              transition: 0.5s ease
              color: $blanco !important
/** ==================== */
.hentry.type-page .entry-header
  border-bottom: 0
  margin-bottom: 0
  display: none
.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle, button.menu-toggle:hover
  color: #484c51 !important
.hentry
  margin: 0 0 4.235801032em
header.site-header
  background-color: $verde !important
  padding-top: 0px

/*== cambio para le boton de compra*/
.widget
  a.button.checkout
    background: $verde !important
    transition: 0.5s ease
    color: $blanco !important
    &:hover
      background-color: $celeste !important
      border-color: #1a1a1a
      transition: 0.5s ease
/*============================================*/
/*=== icono de canasta de compra======*/
.site-header-cart
  .cart-contents
    &:after
      color: $grisoscuro !important
/*== Para navegación (menu) con dispositimos moviles ======*/
@media screen and (max-width: 768px) /* de 768 a cero. 0**/
  .site
  .storefront-primary-navigation
    .main-navigation
      .menu-toggle
        background-color: $yema
        color: $azul !important 
        border: 2px solid $yema
        font-size: 1.2em
        outline: none
        span
          color: $azul !important
      .menu
        box-sizing: border-box
        ul
          li
            background-color: $yema
            box-sizing: border-box
            padding-left: 10px
            border-bottom: 1px solid $azul
            a
              color: $blanco
              font-size: 1.2em
              text-decoration: none
              &:hover
                color: $verde !important
          .current_page_item
            background-color: $yema
/*====== texto bievenida portada ===*/
.page-template-template-homepage 
  .entry-content
    margin: 0px auto
    padding: 0px
    max-width: 100% !important
    width: 100%
    box-sizing: border-box
    @media screen and (min-width: 768px) /* de 768 a infinito**/
      padding: 80px 20px
.page
  .col-full
    padding: 0px   
.page-template-template-homepage 
  .type-page

/*=================== estilo de mi somos ==============*/
.pre-somos
  background-color: $azul
  padding: 80px 60px
  margin-bottom: 30px
  margin-top: 0px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  @media screen and (max-width: 600px) /* de 0 600**/      
    height: auto
  .btn-somos
    background-color: $yema
    padding: 1.2em 2.5em
    border-radius: 4px
    transition: 0.5s ease
    border: 1px solid $yema
    outline: none
    display: block
    color: $azul
    text-decoration: none
    font-size: 1.2em
    font-weight: bold
    text-transform: capitalize
    outline: none
    display: block
    &:hover
      background-color: $azul
      transition: 0.5s ease
      cursor: pointer
      border: 1px solid $yema
      color: $yema
  .pre-contenido
    width: var(--sizem)
    left: 0
    right: 0
    padding: 0px 150px
    p
      color: $yema
      font-size: 1.6em
      font-weight: 700
      text-shadow: 1px 1px 2px rgba(#333, 1)
      text-align: center
      font-family: 'pakenhamregular'
    @media screen and (max-width: 600px) /* de 0 600**/      
      bottom: 0
      padding: 0px 15px
      height: 100%  
    @media screen and (min-width: 601px) and (max-width: 768px) /*entre 601  de 0 768**/
      padding: 15px
      top: calc(var(--sizem)/4)
      p
        font-size: 1.5em
/*  
  &:before
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: rgba($verde, 0.5)
    content: ""
    width: 100%*/
/*============================*/    
body.home
  #page
    .site-content
      .col-full
        .woocommerce-breadcrumb
          display: none
        .content-area
          margin-bottom: 0px
          .site-main
            margin-bottom: 0px
        .woocommerce
      &:before
        background-color: black
        padding: 20px
        display: none
/*=========cantidad en el input=========================*/        
table.cart 
  td.product-quantity 
    .qty
      color: $azul !important
/*====== btn de finaliza compra*/      
.cart_totals
  .wc-proceed-to-checkout
    a
      border-radius: 4px
      background-color: $azul !important
      text-decoration: none
      color: $blanco
      display: block
      outline: none
      &:hover
        background-color: $yema !important
        transition: 0.5s ease
        color: $azul
.woocommerce
  form.woocommerce-checkout
    .col2-set
      .col-1
        max-width: 100% !important
/*======= finalizando compra=======*/
body.woocommerce-checkout
  .site
    .site-content
      .col-full
        .content-area
          width: 100%
          .site-main
            .entry-content
              .woocommerce
                .woocommerce-checkout
                  .col2-set
                    .col-1
                      width: 100% !important
                      input[type="tel"]
                        background-color: #f2f2f2
                    .col-2
                      width: 100% !important
                      padding-bottom: 20px
                      padding-top: 20px
                      box-sizing: border-box
                      max-width: 100% !important
        .widget-area
          display: none !important
/*=========== div carrito en navegación ==============*/          
.storefront-primary-navigation
  ul.site-header-cart
    li
      outline: none
      a.cart-contents
        outline: none
      .widget
        .widget_shopping_cart_content
          a
            outline: none
            text-decoration: none
    .widget_shopping_cart
      .widget_shopping_cart_content
        .a
          outline: none
/*=== Información de cupones y otras cosas ya al finalizar la compra ====*/
.woocommerce-info
  background-color: $verde !important
  .showcoupon
    color: $blanco
    margin-left: 10px
    &:hover
      color: $yema
      opacity: 1
      text-decoration: none
      font-weight: 300
      margin-left: 10px
      transition: 0.5s ease
  a
    color: $blanco
    &:hover
      color: $yema
/*============== finalizar-compra =====================*/
#payment 
  .payment_methods
    li
      input
      label
        color: $yema !important
    >.wc_payment_method
      >label
        box-sizing: border-box
        color: $azul !important
        &::before
          color: $azul
  .place-order 
    .button
      background-color: $azul
      color: $blanco
      transition: 0.5s ease
      border-radius: 4px
      outline: none
      &:hover
        background-color: $yema
        transition: 0.5s ease
        color: $azul
/*== color link ====*/        
.woocommerce-checkout-review-order
  .woocommerce-checkout-payment
    .wc_payment_methods
      li.wc_payment_method
        label
          color: $azul !important
    .place-order  
      .terms
        a
          outline: none
          text-decoration: none
          font-weight: bold
          color: $azul
          transition: 0.5s ease
          &:hover
            color: $verde
            transition: 0.5s ease
/*=====================================*/
.star-rating span:before, .quantity .plus, .quantity .minus, p.stars a:hover:after, p.stars a:after, .star-rating span:before, #payment .payment_methods li input[type=radio]:first-child:checked+label:before
  color: $verde !important

/*======= detalles del pedido*/
.woocommerce-order-details
  table
    a
      color: $azul
      font-weight: bold
      &:hover
        color: $verde
        transition: 0.5s ease
        text-decoration: none
/*======= carrito vacio =====*/        
.entry-content
  .woocommerce
    .cart-empty
      color: red
      font-weight: 700
      font-size: 1.3em
    .return-to-shop
      a
        background-color: $azul
        color: $blanco
        outline: none
        transition: 0.5s ease
        border-radius: 4px
        &:hover
          background-color: $yema
          transition: 0.5s ease
          color: $azul
          text-decoration: none
/*===============================*/
footer.site-footer
  background-color: $azul
  color: $blanco
  a
    color: $yema !important
    transition: 0.5s ease
    &:hover
      color: $celeste !important
      transition: 0.5s ease
      text-decoration: none
/*==============================*/      
.info-mas
  padding: 20px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  p
    padding: 0px
    margin: 0px
    a
      color: $verde
      outline: none
      &:hover
        color: $blanco !important
        transition: 0.5s ease
  .info-credito
    p
      span
        color: $yema
        text-transform: italic
  .texto
/*======================= sidebar a la Izquierda  ========================*/
#primary
  float: right
  box-sizing: border-box
#secondary
  float: left
  box-sizing: border-box
  padding-right: 30px