.c-slider
	width: 100%
	box-sizing: border-box
	.bx-wrapper
		background-color: red
		padding: 20px
	.slide
		width: 100%
		height: 100%
		padding: 0px
		.metaslider
			height: 100%
			.flexslider
				margin: 0px auto
				height: 100%
				ol.flex-control-nav
					background-color: magenta
					bottom: 0
					display: none
			img
				border-radius: 0px
				height: 100%
//	margin-bottom: 2.617924em				
//	height: calc(100vh - 250px)