.who-we-are
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	width: var(--sizem)
	box-sizing: border-box
	@media screen and (max-width: 600px) /* de 0 600**/
		width: var(--sizem)
	.intro
		max-width: 1063px
		margin: 0px auto
		padding: 0px 0px 10px
		h2
			color: $gris3
			text-align: center
			margin-bottom: 50px
			position: relative
			text-transform: uppercase
			font-size: 1.5em
			--width: 20%	
			&:after
				content: ''
				display: block
				height: 3px
				width: calc(var(--width)/2)
				position: absolute
				left: calc( calc( 100% - ( calc(var(--width)/2)) ) / 2)
				bottom: -0.5em
				background-color: $azul
				z-index: 100
		p
			font-size: 1.1em
		.who-services
			.contenido-servicios
				font-size: 1.1em
				text-align: center
			.services
				display: flex
				flex-wrap: wrap
				flex-direction: row
				padding: 20px 10px 10px 10px
				box-sizing: border-box
				width: 100%
				margin-top: 30px
				justify-content: space-between
				text-transform: uppercase
				h3
					text-align: center
					display: block
				img
					border-radius: 0px
					width: 100%
					height: 280px			
					display: block
				.services-one
					width: 47%					
					position: relative
					.img-services
						a:nth-child(2)
							&:hover
								img
									opacity: 0.5
									transition: 0.5s ease							
						a:nth-child(3)
							display: block
							background-color: $yema
							text-align: center
							padding: 10px
							color: $azul
							font-weight: 600
							outline: none
							text-decoration: none
							&:hover
								background-color: $azul
								color: $blanco
								transition: 0.5s ease							
					.ingresar
						position: absolute
						left: 0
						right: 0
						bottom: 0px
						background-color: rgba($verde, 0.5)
						text-align: center
						color: $gris3
						font-size: 1.5em
				.services-two
					width: 50%
					position: relative
					.img-services
						a:nth-child(2)
							&:hover
								img
									opacity: 0.5
									transition: 0.5s ease
						a:nth-child(3)
							display: block
							background-color: $yema
							text-align: center
							padding: 10px
							color: $azul
							font-weight: 600
							outline: none
							text-decoration: none
							&:hover
								background-color: $azul
								color: $blanco
								transition: 0.5s ease
					.ingresar
						position: absolute
						left: 0
						right: 0
						bottom: 0px
						background-color: rgba($verde, 0.5)
						text-align: center
						color: $gris3
						font-size: 1.5em
	.cover-who
		width: calc(var(--sizem)/2)
		height: 250px
		img
			display: block
			width: 100%
			height: auto
			border-radius: 0px
		@media screen and (max-width: 600px) /* de 0 600**/
			width: var(--sizem)		
	.content-who
		width: calc(var(--sizem)/2)
		padding-left: 20px
		@media screen and (max-width: 600px) /* de 0 600**/
			width: var(--sizem)		