/*
Theme name: Mas por tu prenda
Theme URI: http://www.orlandoreynoso.com
Author: Orlando Reynoso
Author URI: http://www.orlandoreynoso.com
Version: 1.0
Template: storefront
Description: Theme child of store front;
Text Domain: hijostore
*/
